<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kmeans</title>
</head>
<body>
    <h2>Kmeans tool</h2>
    <h2>Choose plot parameters:</h2>
    <form action="/kmeans_results" method="POST">
        Plot the mean <select name="Time" id="Time" onchange="" size="1">
                            <option value="D">Day</option>
                            <option value="W">Week</option>
                            <option value="M">Month</option>
                        </select>

        <input type="submit" value="select">
    </form>

</body>
</html>